In [4]:
import pandas as pd
df = pd.read_parquet("C:/Users/andya/Downloads/dffeatures.parquet")
df

,volume,vwap,open,close,high,low,timestamp,transactions,datetime,ticker,minute,hour,dayofweek,is_open_hour,hl_spread,oc_return,log_return,close_lag1,close_roll_mean_5,volume_roll_std_15
0,17632.0,137.0174,137.420,137.2600,137.565,136.85,1680528600000,105,2023-04-03 13:30:00,A,30,13,0,True,0.715,-0.001164,NaN,NaN,NaN,NaN
1,1011.0,137.2530,137.255,137.3200,137.320,137.25,1680528660000,28,2023-04-03 13:31:00,A,31,13,0,True,0.070,0.000474,0.000437,137.260,NaN,NaN
2,697.0,137.2364,137.220,137.3300,137.330,136.95,1680528720000,18,2023-04-03 13:32:00,A,32,13,0,True,0.380,0.000802,0.000073,137.320,NaN,NaN
3,4004.0,137.3055,136.990,137.5700,137.570,136.99,1680528780000,79,2023-04-03 13:33:00,A,33,13,0,True,0.580,0.004234,0.001746,137.330,NaN,NaN
4,7244.0,137.4399,137.690,137.3784,137.720,137.11,1680528840000,107,2023-04-03 13:34:00,A,34,13,0,True,0.610,-0.002263,-0.001394,137.570,137.37168,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168836917,34617.0,161.8135,161.795,161.7600,161.910,161.74,1743537420000,553,2025-04-01 19:57:00,ZTS,57,19,1,False,0.170,-0.000216,-0.000216,161.795,161.83900,13551.869943
168836918,41392.0,161.7938,161.760,161.7600,161.825,161.73,1743537480000,658,2025-04-01 19:58:00,ZTS,58,19,1,False,0.095,0.000000,0.000000,161.760,161.83900,14366.357207
168836919,78248.0,161.7905,161.760,161.9400,161.950,161.68,1743537540000,1378,2025-04-01 19:59:00,ZTS,59,19,1,False,0.270,0.001113,0.001112,161.760,161.81500,20833.234937
168836920,17149.0,161.9100,161.910,161.9100,161.910,161.91,1743537600000,73,2025-04-01 20:00:00,ZTS,0,20,1,False,0.000,0.000000,-0.000185,161.940,161.83300,20488.876601
168836921,454220.0,161.9100,161.910,161.9100,161.910,161.91,1743539220000,1,2025-04-01 20:27:00,ZTS,27,20,1,False,0.000,0.000000,0.000000,161.910,161.85600,112400.931277

In [ ]:
df.head()

,volume,vwap,open,close,high,low,timestamp,transactions,datetime,ticker,minute,hour,dayofweek,is_open_hour,hl_spread,oc_return,log_return,close_lag1,close_roll_mean_5,volume_roll_std_15
0,17632.0,137.0174,137.420,137.2600,137.565,136.85,1680528600000,105,2023-04-03 13:30:00,A,30,13,0,True,0.715,-0.001164,NaN,NaN,NaN,NaN
1,1011.0,137.2530,137.255,137.3200,137.320,137.25,1680528660000,28,2023-04-03 13:31:00,A,31,13,0,True,0.070,0.000474,0.000437,137.26,NaN,NaN
2,697.0,137.2364,137.220,137.3300,137.330,136.95,1680528720000,18,2023-04-03 13:32:00,A,32,13,0,True,0.380,0.000802,0.000073,137.32,NaN,NaN
3,4004.0,137.3055,136.990,137.5700,137.570,136.99,1680528780000,79,2023-04-03 13:33:00,A,33,13,0,True,0.580,0.004234,0.001746,137.33,NaN,NaN
4,7244.0,137.4399,137.690,137.3784,137.720,137.11,1680528840000,107,2023-04-03 13:34:00,A,34,13,0,True,0.610,-0.002263,-0.001394,137.57,137.37168,NaN

In [2]:
import pandas as pd
data = pd.read_csv("C:/Users/andya/Downloads/merged_raw.csv")
data

,v,vw,o,c,h,l,t,n,datetime,ticker
0,17632.0,137.0174,137.420,137.2600,137.565,136.85,1680528600000,105,2023-04-03 13:30:00,A
1,1011.0,137.2530,137.255,137.3200,137.320,137.25,1680528660000,28,2023-04-03 13:31:00,A
2,697.0,137.2364,137.220,137.3300,137.330,136.95,1680528720000,18,2023-04-03 13:32:00,A
3,4004.0,137.3055,136.990,137.5700,137.570,136.99,1680528780000,79,2023-04-03 13:33:00,A
4,7244.0,137.4399,137.690,137.3784,137.720,137.11,1680528840000,107,2023-04-03 13:34:00,A
...,...,...,...,...,...,...,...,...,...,...
95428456,34617.0,161.8135,161.795,161.7600,161.910,161.74,1743537420000,553,2025-04-01 19:57:00,ZTS
95428457,41392.0,161.7938,161.760,161.7600,161.825,161.73,1743537480000,658,2025-04-01 19:58:00,ZTS
95428458,78248.0,161.7905,161.760,161.9400,161.950,161.68,1743537540000,1378,2025-04-01 19:59:00,ZTS
95428459,17149.0,161.9100,161.910,161.9100,161.910,161.91,1743537600000,73,2025-04-01 20:00:00,ZTS
95428460,454220.0,161.9100,161.910,161.9100,161.910,161.91,1743539220000,1,2025-04-01 20:27:00,ZTS

In [ ]:
pip install pyspark findspark

Requirement already satisfied: pyspark in c:\users\andya\appdata\local\programs\python\python312\lib\site-packages (3.5.4)
Requirement already satisfied: findspark in c:\users\andya\appdata\local\programs\python\python312\lib\site-packages (2.0.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\andya\appdata\local\programs\python\python312\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~xml (c:\Users\andya\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~xml (c:\Users\andya\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~xml (c:\Users\andya\AppData\Local\Programs\Python\Python312\Lib\site-packages)

In [4]:
pip install duckdb

Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~xml (c:\Users\andya\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~xml (c:\Users\andya\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~xml (c:\Users\andya\AppData\Local\Programs\Python\Python312\Lib\site-packages)

Collecting duckdb
  Downloading duckdb-1.2.2-cp312-cp312-win_amd64.whl.metadata (995 bytes)
Downloading duckdb-1.2.2-cp312-cp312-win_amd64.whl (11.4 MB)
   ---------------------------------------- 0.0/11.4 MB ? eta -:--:--
   --- ------------------------------------ 1.0/11.4 MB 10.1 MB/s eta 0:00:02
   ---------- ----------------------------- 2.9/11.4 MB 8.8 MB/s eta 0:00:01
   --------------- ------------------------ 4.5/11.4 MB 8.6 MB/s eta 0:00:01
   ----------------------- ---------------- 6.6/11.4 MB 8.8 MB/s eta 0:00:01
   ----------------------------- ---------- 8.4/11.4 MB 8.7 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.4 MB 9.1 MB/s eta 0:00:01
   ---------------------------------------- 11.4/11.4 MB 9.1 MB/s eta 0:00:00
Installing collected packages: duckdb
Successfully installed duckdb-1.2.2

In [ ]:
import pandas as pd
import numpy as np
import duckdb

# 1. read csv and then parse datetime
df = pd.read_csv(
    "C:/Users/andya/Downloads/merged_raw.csv",
    parse_dates=["datetime"],
    infer_datetime_format=True
)

# 2. rename every column
df = df.rename(columns={
    "v":  "volume",
    "vw": "vwap",
    "o":  "open",
    "c":  "close",
    "h":  "high",
    "l":  "low",
    "t":  "timestamp",
    "n":  "transactions"
})

# 3. clean missing value
price_cols = ["open", "high", "low", "close"]
df[price_cols] = df.groupby("ticker")[price_cols].ffill()

df["volume"] = df["volume"].fillna(0)

# To fix the error, I use 'transform'to keep index
df["vwap"] = df.groupby("ticker")["vwap"] \
              .transform(lambda x: x.interpolate())

#  deal with time column
df["minute"]      = df["datetime"].dt.minute
df["hour"]        = df["datetime"].dt.hour
df["dayofweek"]   = df["datetime"].dt.dayofweek
df["is_open_hour"] = df["hour"].between(9, 16)

# 5. Use DuckDB to feature
con = duckdb.connect(database=":memory:")
con.register("raw", df)

q = """
SELECT
  *,
  high - low                              AS hl_spread,
  (close - open) / open                   AS oc_return,
  LOG(close / LAG(close) OVER win1)       AS log_return,
  LAG(close) OVER win1                    AS close_lag1,
  AVG(close) OVER win5                    AS close_roll_mean_5,
  STDDEV_POP(volume) OVER win15           AS volume_roll_std_15
FROM raw
WINDOW
  win1 AS (PARTITION BY ticker ORDER BY datetime ROWS BETWEEN 1 PRECEDING AND CURRENT ROW),
  win5 AS (PARTITION BY ticker ORDER BY datetime ROWS BETWEEN 4 PRECEDING AND CURRENT ROW),
  win15 AS (PARTITION BY ticker ORDER BY datetime ROWS BETWEEN 14 PRECEDING AND CURRENT ROW)
ORDER BY ticker, datetime
"""
df_features = con.execute(q).df()

# 6. get Parquet
df_features.to_parquet(
    "C:/Users/andya/Downloads/dffeatures_duckdb.parquet",
    index=False
)

#run 19 min

C:\Users\andya\AppData\Local\Temp\ipykernel_3636\3239482965.py:6: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv(

In [5]:
import pandas as pd
df = pd.read_parquet("C:/Users/andya/Downloads/dffeatures_duckdb.parquet")
df.head()

,volume,vwap,open,close,high,low,timestamp,transactions,datetime,ticker,minute,hour,dayofweek,is_open_hour,hl_spread,oc_return,log_return,close_lag1,close_roll_mean_5,volume_roll_std_15
0,17632.0,137.0174,137.420,137.2600,137.565,136.85,1680528600000,105,2023-04-03 13:30:00,A,30,13,0,True,0.715,-0.001164,NaN,NaN,137.260000,0.000000
1,1011.0,137.2530,137.255,137.3200,137.320,137.25,1680528660000,28,2023-04-03 13:31:00,A,31,13,0,True,0.070,0.000474,0.000190,137.26,137.290000,8310.500000
2,697.0,137.2364,137.220,137.3300,137.330,136.95,1680528720000,18,2023-04-03 13:32:00,A,32,13,0,True,0.380,0.000802,0.000032,137.32,137.303333,7910.263811
3,4004.0,137.3055,136.990,137.5700,137.570,136.99,1680528780000,79,2023-04-03 13:33:00,A,33,13,0,True,0.580,0.004234,0.000758,137.33,137.370000,6931.662607
4,7244.0,137.4399,137.690,137.3784,137.720,137.11,1680528840000,107,2023-04-03 13:34:00,A,34,13,0,True,0.610,-0.002263,-0.000605,137.57,137.371680,6225.395685